/* styles.css */

/* Exemple : Changer la couleur de fond du corps de l'application */
body {
  background-color: #f0f0f0;
}

/* Exemple : Modifier la couleur du titre du tableau de bord */
.skin-red .main-header .logo {
  color: #ff5733;
}

/* Exemple : Changer la couleur de fond du bouton "Rafraîchir" */
#refreshData {
  background-color: #3385ff;
  color: white;
}
